@font-face {
    font-family: 'yerbaluisa'; /*a name to be used later*/
    src: url('../fonts/yerbaluisa_demo-font-FFP.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'mermaid'; /*a name to be used later*/
    src: url('../fonts/Mermaid1001.ttf'); /*URL to font*/
}
html {
    max-height:100vh;
    overflow: hidden;

}
#maincontainer {
    height:100vh;
    width: 100%;
    padding: 0;
    background-color: #2980B9;
}

    #topbar {
        height: 50px;
        background-color: #2980B9;
        display: none;
        padding: 0;
    }

        .buttontopbar {
            height: 100%;
            background-color: #2980B9;
            font-size: 30px;
            text-align: center;

        }

        .buttontopbar:hover {
            background-color: #3498DB;
        }

        .buttontopbar span {
            color: whitesmoke;
            font-family: "yerbaluisa", serif;
            font-size: 30px;
            line-height: 50px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
            width: 100%;

        }

        #home {
            cursor: pointer;
            background: url("../img/home.png") no-repeat;
        }

        @media(max-width:992px){
            #topbar{
                position: relative;
            }
            #home{
                position: fixed;
                bottom: 30px;
                right: 30px;
                z-index: 8000000;
                width: 50px;
                height: 50px;
                background-color:#2980B9 ;
                border-radius: 25px;
            }
        }


    #viewer {
        padding: 0px;
        background-color: #0f0f0f;
        height: auto;

    }
        #viewer img{
            width: 100%;
            height: auto;
        }

    #containerMenu{
        padding: 0;
        z-index: 1000;
    }


        .menubutton {
            margin-top: 20px;
            height: 80px;
            background-color: #2980B9;
            cursor: pointer;
            text-align: center;
            z-index: 2000;
        }

        @media(max-width:992px){
            #containerMenu{
                height: auto;
            }
            .menubutton {
                height: 50%;
            }

            #viewer img{
                height: auto;
                width: auto;
            }
        }

            .titlebutton{
                color: whitesmoke;
                font-family: "yerbaluisa", serif;
                font-size: 50px;
                line-height: 80px;
                vertical-align: middle;
                margin-left: auto;
                margin-right: auto;

            }

    .category{
        height: calc( 100% - 50px );
        background-color: whitesmoke;
        overflow-x: hidden;
        overflow-y: auto ;
    }

        .containerProject{
            height: auto;
            text-align: center;
            margin-top: 50px;
        }

            .imgproject{
                width: 80%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
            }


        .hoverproject{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            cursor: pointer;
        }

            .titleimgproject{
                font-size: 50px;
                vertical-align: middle;
                line-height: 250px;
                font-family: "mermaid";
                color: whitesmoke;
                text-shadow: black 0.1em 0.1em 0.1em
            }


    #catAbout{
        padding: 0 ;
    }

        #leftbar{
            height: 100%;
            background-color: #3498DB;
            padding: 20px 0 0 0;
        }
        @media(max-width:992px){
        #leftbar{
            height: auto;
            padding: 0;
        }

            #contPhotoCv img {
                max-height: 100px;
                content: url("../img/me_small.jpg");
                margin-top: 5px;
            }
        }

            #cvmenu{
                padding: 0;
                height: auto;
            }

            @media(min-width:993px){
                #cvmenu{
                    width: 100%;
                    height: 250px;
                    margin-top: 20px;
                }

                #downloadpdf{
                    margin-top: 50px;
                }

            }
                .buttoncvmenu{
                    width: 100%;
                    height: 50px;
                    cursor: pointer;
                    line-height: 50px;
                    text-align: center;
                }

                @media(max-width:992px){
                    .buttoncvmenu{
                        width: 49%;
                        display: inline-block;
                        margin-top: 5px;
                    }
                }

                .buttoncvmenu:hover{
                    background-color: #2980B9;
                }
                .selected{
                    background-color: #2980B9;
                }

                    .buttoncvmenu span{
                        color: white;
                        font-family: yerbaluisa, serif;
                        font-size: 30px;
                        width: 100%;
                    }



        #rightpart{
            height: 100%;
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto ;
        }
            .partcv{
                width: 100%;
                height: 100%;
            }

                .etablissement{
                    height: 200px;
                    margin-top: 20px;
                    background-color: #3498DB;
                    color: whitesmoke;
                }

                .listskills{
                    margin-bottom: 20px;
                }
                    .blockskill{
                        padding: 0;
                        position:relative;
                        overflow: hidden;
                        height: 80px;
                        width: 80px;
                        margin-right: 20px;
                        margin-top: 20px;
                    }
                        .blockskill img:first-child {
                            width: 80px;
                            height: 80px;
                            position: absolute;
                            bottom: 0;
                            z-index: 3;
                        }
                        .blockskill img:last-child{
                            width: 80px;
                            position: absolute;
                            margin-top: 30px;
                        }
